SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=debarras.aurea@gmail.com
SMTP_PASS=fzbp vuuf xnys gnsv
SMTP_FROM=debarras.aurea@gmail.com
SMTP_TO=debarras.aurea@gmail.com,contact@debarras-aurea.fr
API_URL=https://api.debarras-aurea.fr/api